
@font-face {
    font-family:Poppins;
    src: url(/Poppins/Poppins-Regular.ttf);
}



*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
    background-color:black;
    -webkit-text-size-adjust: none;
    
}

body{
    font-family: Poppins;
    color: white;
    height: 100%;

}


table caption{
    font-weight: bold;
    padding-top:16px;
    padding-bottom:1%;
}

table{
    width: 150%;
    position: relative;
    left: 4%;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 2s ease,transform 2s ease;
    padding-bottom:50px;
    border-collapse: collapse;
    padding-top:2%;
    
}

table th{
    text-align: left;
    padding-left:32px;
    
}


.loading-row{
    position: relative;
    left: 32px;
    text-align: left;
    color: white;
    font-family: Poppins;

}

td{
    text-align: left;
    padding-top:16px;
    max-width:5%;
}

.Date-Time{
    position: relative;
    right: 32px;
}

.Date-Time-Data{
    position: relative;
    right: 32px;

}

body.loaded table{
    opacity: 1;
    transform: translateY(0);
}



.awaiting-data{
    font-family: Poppins;
    font-size: 32px;
    font-weight: 100;
    color: #A3C4F7 ;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    
    margin-right:30%;
    transform:translateY(100%);
    opacity:0;
    transition: opacity 2s ease,transform 2s ease;
    
}

.go-back-btn{
    width:10%;
    color: cyan;
    background-color:  #2A1A69;
    border-color: #C0C0C0;
    margin:5% 0% 10% 30%;
    opacity:0;
    padding:4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transform:translateY(100%);
    transition: opacity 2s ease,transform 2s ease;
}

@media screen and (max-width:1024px){
    .awaiting-data{
        margin-bottom:0px;
        margin-right:0px; 
    }
}

body.loaded button.go-back-btn{
    opacity:1;
    transform:translateY(0);
}

body.loaded div.awaiting-data{
    opacity:1;
    transform:translateY(0);
}