
@font-face {
    font-family:Poppins;
    src: url(/Poppins/Poppins-Regular.ttf);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
    background-color:black;
}

.for-now{
    font-family: Poppins;
    color: #A3C4F7 ;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 30%;
    left: 30%;
    font-size: 32px;
    font-weight: 200;
    opacity:0;
    transform:translateY(100%);
    transition: opacity 2s ease,transform 2s ease;
    
}

body.loaded div.for-now{
    opacity:1;
    transform:translateY(0);
}



