
@font-face {
    font-family:Poppins;
    src: url(/Poppins/Poppins-Regular.ttf);
}



*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
    background-color:black;
    -webkit-text-size-adjust: none;
    color: white;
    overflow-x: hidden;
}

.for-now{
    font-family: Poppins;
    color: #A3C4F7 ;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 30%;
    left: 30%;
    font-size: 32px;
    font-weight: 200;
    opacity:0;
    transform:translateY(100%);
    transition: opacity 2s ease,transform 2s ease;
    
}

.alert-main-flex{
    max-width:60%;
    margin-top:2%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}


.alert{
    margin:2%;
    width:85%;
    border: 1px white solid;
    border-radius:4px;
    box-shadow: 0 0 5px 2px white;
    padding:20px;
}

.alert:hover{
    box-shadow: 0 0  15px 2px  red;
}

.date-time{
    font-family: Poppins;
    padding:1%;
    color: white;
    font-size: 16px;
}



.latitude{
    font-family: Poppins;
    padding:1%;
    color: white;
    font-size: 16px;
}

.longitude{
    font-family: Poppins;
    padding:1%;
    color: white;
    font-size: 16px;
}

.heart-rate{
    font-family: Poppins;
    padding:1%;
    color: white;
    font-size: 16px;
}

.breathing-rate{
    font-family: Poppins;
    padding:1%;
    color: white;
    font-size: 16px;
}

.temperature{
    font-family: Poppins;
    padding:1%;
    color: white;
    font-size: 16px;
}

.drowsiness{
    font-family: Poppins;
    padding:1%;
    color: white;
    font-size: 16px;
}
.emergency-personal{
    font-family: Poppins;
    padding:1%;
    color: white;
    font-size: 16px;
}

.alert-count{
    font-family: Poppins;
    padding:1%;
    color: red;
    font-size: 16px;
}

.check-prior-alerts{
    width:10%;
    margin:8px 0px 8px 0px;
    color: cyan;
    background-color:  #2A1A69;
    border-color: #C0C0C0;
    padding:4px 16px 4px 16px;
    position: relative;
    left:85%;
    transform:translateX(300%);
    transition: opacity 1s ease,transform 1s ease;
}

body.loaded button.check-prior-alerts{
    opacity: 1;
    transform: translateX(0);
    
}

body.loaded div.for-now{
    opacity:1;
    transform:translateY(0);
}



