
@font-face {
    font-family:Poppins;
    src: url(/Poppins/Poppins-Regular.ttf);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
    background-color:black;
    color: white;
    overflow: hidden;

}

@media screen and (max-width:1024px){
    *{
        overflow: auto;
    }
}



main{
    font-family: Poppins;
    size: 16px;
}



.main-grid{
    position: relative;
    bottom:50px;
    margin-left:4%;
    padding: 8px;
    display: grid;
    margin-top:2%;
    grid-template-columns:repeat(5,200px);
    grid-gap:4%;
    max-height: 100%;

}


.Date-time-box{
    position: relative;
    left: 75%;
    top:10px;
    width: 20%;
    border: 1px white solid;
    border-radius:15px;
    padding: 16px;
    box-shadow: 0 0 5px 2px white;
    transition: box-shadow 1s ease-in-out;
}

.Date-time-box:hover{
    box-shadow: 0 0 15px 2px rgb(89, 223, 111);
}

.Date-Time{
    padding-top: 8px;
    color: #32CD32;
}

.Overall-Grid{
    position: relative;
    bottom: 74px;
    left:30%;
    border: 1px white solid;
    border-radius: 8px;
    padding: 20px;
    width: 30%;
    height: 50px;
    box-shadow: 0 0 5px 2px white;
    transition: box-shadow 1s ease-in-out;
    overflow: hidden;
}

.Overall-Grid:hover{
    box-shadow: 0 0  15px 2px  rgb(89, 223, 111);
}


.Drowsiness{
    padding-top:8px;
    color: #A3C4F7 ;
    
}

.Drowsiness-Title{
    
}


.Seat-Status-Grid{
    width: 50%;
    padding: 2px;
    position: relative;
    bottom: 60px;
    left: 50%;

}

.Seat-Status-title{
    padding-bottom: 8px;

}

.Seat-Status{
    padding-bottom: 8px;
    color: #D8B4DD;
}


.Vital-Grid{
    border: 1px white solid;
    border-radius:15px;
    padding: 32px;
    box-shadow: 0 0 5px 2px white;
    transition: box-shadow 1s ease-in-out;

}

.Vital-Grid:hover{
    box-shadow: 0 0  15px 2px  rgb(89, 223, 111);
}

.Vital-Title{
    font-size:24px;
    font-weight:bold;
}

.Vital-Status{
    padding-top:16px;
    padding-bottom:16px;
    color:  #D8B4DD;
    
}

.Heart-rate{
    padding-top:16px;
    padding-bottom:16px;
    color:#A3C4F7 ;
}

.Breathing-rate{
    padding-top:16px;
    padding-bottom:16px;
    color: #A3C4F7 ;
}


.Temperature-Title{
    color: white;
}

.Temperature-rate{
    padding-top:16px;
    padding-bottom:16px;
    color: #A3C4F7 ;
}

.Head-Grid{
    border: 1px white solid;
    border-radius:15px;
    padding: 32px;
    box-shadow: 0 0 5px 2px white;
    transition: box-shadow 1s ease-in-out;
    overflow: hidden;
}

.Head-Grid:hover{
    box-shadow: 0 0  15px 2px rgb(89, 223, 111);
}

.Head-Status-title{
    font-size:24px;
    font-weight:bold;
    width: 110%;
}

.Head-Status{

    padding-top:16px;
    padding-bottom:16px;
    color: #D8B4DD ;
}

.Head-1{

    padding-top:16px;
    padding-bottom:16px;
    color: #A3C4F7; ;
}


.Head-2{

    padding-top:16px;
    padding-bottom:16px;
    color: #A3C4F7;
}

.Leg-Grid{

    border: 1px white solid;
    border-radius:15px;
    padding: 32px;
    box-shadow: 0 0 5px 2px white;
    transition: box-shadow 1s ease-in-out;
}

.Leg-Grid:hover{
    box-shadow: 0 0  15px 2px  rgb(89, 223, 111);
}

.Leg-status-title{
    font-size:24px;
    font-weight:bold;
}

.Leg-status{
    padding-top:8px;
    padding-bottom:8px;
    color:#D8B4DD;
}

.leg-1{
    padding-top:8px;
    padding-bottom:8px;
    color: #A3C4F7;
}

.leg-2{
    padding-top:8px;
    padding-bottom:8px;
    color: #A3C4F7 ;
}
.leg-3{
    padding-top:8px;
    padding-bottom:8px;
    color: #A3C4F7;
}
.leg-4{
    padding-top:8px;
    padding-bottom:8px;
    color: #A3C4F7 ;
}

/*

.Air-Quality-Grid{
    border: 1px white solid;
    border-radius:15px;
    padding: 32px;
    box-shadow: 0 0 15px 2px white;
    transition: box-shadow 1s ease-in-out;

}

.Air-Quality-Grid:hover{
    box-shadow: 0 0  15px 2px  rgb(55, 230, 209);
}

.Air-Quality-Title{
    font-size:24px;
    font-weight:bold;
}

.Air-Quality{
    padding-top:16px;
    padding-bottom:16px;
    color: #D8B4DD ;
}

.Air-Quality-Value{
    padding-top:16px;
    padding-bottom:16px;
    color: #A3C4F7;
}

.Air-Quality-element{
    padding-top:16px;
    padding-bottom:16px;
    color: #A3C4F7;
}

*/

.Tilt-Grid{
    border: 1px white solid;
    border-radius:15px;
    padding: 32px;
    box-shadow: 0 0 5px 2px white;
    transition: box-shadow 1s ease-in-out;
}

.Tilt-Title{
    font-size:24px;
    font-weight:bold;
}

.Tilt-Status{
    padding-top:8px;
    padding-bottom: 8px;
    color: #D8B4DD;
}

.Tilt-x-values{
    padding-top:8px;
    padding-bottom:8px;
    color: #A3C4F7;
}

.Tilt-y-values{
    padding-top:8px;
    padding-bottom:8px;
    color: #A3C4F7;
}

.Tilt-z-values{
    padding-top:8px;
    padding-bottom:8px;
    color: #A3C4F7;
}

.Tilt-Grid:hover{
    box-shadow: 0 0  15px 2px  rgb(89, 223, 111);
}


.Alert-Grid{
    border: 1px white solid;
    border-radius:15px;
    padding: 32px;
    box-shadow: 0 0 5px 2px white;
    transition: box-shadow 1s ease-in-out;
}

.Alert-Grid:hover{
    box-shadow: 0 0  15px 2px  rgb(89, 223, 111);
}

.Alerts-Title{
    font-size:24px;
    font-weight:bold;
}

.Alerts{
    padding-top:16px;
    padding-bottom:16px;
    color:#DC143C;
}

.normal{
    color:rgb(89, 223, 111);
}

.abnormal{
    color: #DC143C ;
}
/*Animation from here onwards*/

.Overall-Grid{
    opacity:0;
    transform: translateY(-100%);
    transition:opacity 2s ease,transform 2s ease;
}

body.loaded main div.Overall-Grid{
    opacity: 1;
    transform: translateY(0);
}

.Date-time-box{
    opacity:0;
    transform: translateX(100%);
    transition:opacity 2s ease,transform 2s ease;
}


body.loaded main div.Date-time-box{
    opacity: 1;
    transform: translateX(0);
}

body.loaded{
    opacity: 1;
    transform: tra;
}

body main div.main-grid>div{
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1s ease,transform 1s ease;
} 

body.loaded main div.main-grid>div{
    opacity: 1;
    transform: translateX(0);

}