
@font-face {
    font-family:Poppins;
    src: url(/Poppins/Poppins-Regular.ttf);
}



*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
    background-color:black;
    -webkit-text-size-adjust: none;
    color: white;
    font-family: Poppins;
    overflow-x: hidden;
}




.gps-grid{
    position: relative;
    top:3em;
    max-width:40%;
    border: 1px white solid;
    border-radius:4px;
    box-shadow: 0 0 5px 2px white;
    padding:2%;
    margin:2% 0% 0% 2%;
    opacity: 0;
    transform:translateX(-100%);
    transition: opacity 1s ease-in,transform 1s ease-out;

}

body.loaded div.gps-grid{
    opacity: 1;
    transform: translateX(0);
}

.latitude-title{

    max-width:20%;
}

.latitude{
    max-width: 50%;
    color: #A3C4F7;
}


.longitude{
    bottom:24px;
    max-width: 50%;
    color: #A3C4F7;
}


.track-mode{
    max-width: 50%;
    color:  #D8B4DD;
}

.gps{

    max-width:40%;
    margin:8px 0px 8px 0px;
    color: cyan;
    background-color:  #2A1A69;
    border-color: #C0C0C0;
    padding:4px 16px 4px 16px;
}

.tower{

    max-width:40%;
    margin:8px 0px 8px 0px;
    color: cyan;
    background-color:  #2A1A69;
    border-color: #C0C0C0;
    padding:4px 16px 4px 16px;
}

.btn-flex{
    width:52%;
    display: flex;
    flex-direction:column;
    justify-content:flex-start;
    align-content:flex-start;
    position: relative;
    left:60%; 
    bottom:72px;
    opacity: 0;
    transform:translateY(100%);
    transition: opacity 1s ease-in,transform 1s ease-out;
    
}

.map_iframe{
    margin-top:20px;
    width:99%;
    height:500px;
    opacity: 0;
    transform:translateX(100%);
    transition: opacity 1s ease-in,transform 1s ease-out;
}

body.loaded .map iframe{
    opacity: 1;
    transform: translateX(0);
}

.colon-1{
    margin-left:150px;
}
.colon-2{
    padding-left:135.5px;
}
.colon-3{
    padding-left:80px;
}
.colon-4{
    padding-left:164px;
}
.colon-5{
    padding-left:30px;
}


footer{
    padding: 32px;
}

body.loaded div.btn-flex{
    opacity: 1;
    transform: translateY(0);
}


