@font-face {
    font-family:Poppins;
    src: url(/Poppins/Poppins-Regular.ttf);
}

*{
    background-color: black;
    font-family: Poppins;
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
    background-color:black;
    color: white;
}



.container{
    margin-top:4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap:8px;
    margin-left:40%;
    opacity:0;
    transform:translateY(-100%);
    transition:opacity 2s ease-in,transform 2s ease-in-out;
}

body.loaded div.container{
    opacity: 1;
    transform: translate(0);
}


input{
    width: 30%;
    margin:8px 0px 8px 0px;
    appearance: none;
    background-color:#2D1B69;
    color:  #D3B0FF;
    border: #9B4DFF 1px solid;
}

.button{
    width:25%;
    margin:8px 0px 8px 0px;
    color: cyan;
    background-color:  #2A1A69;
    border-color: #C0C0C0;
    padding:4px 16px 4px 16px;
}

.button_del{
    width:25%;
    margin:8px 0px 8px 0px;
    color: cyan;
    background-color:  #2A1A69;
    border-color: #C0C0C0;
    padding:4px 16px 4px 16px;
}

